Source: stsbl-iserv-homepage
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.4.3
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-homepage

Package: stsbl-iserv-homepage
Architecture: all
Depends: ${misc:Depends}
  ${perl:Depends},
  iserv-portal,
  stsbl-iserv-apache-basic-authentification,
Conflicts:
  iserv-hpa,
Xb-Private-Iserv-Revision: ${iserv:Revision} 
Description: Homepage-Modul für IServ
 Das Homepage-Modul wertet die in den Portalserver eingebaute IServ Benutzer-
 und Gruppen-Homepagefunktion um zusätzliche Funktionen auf.
 .
 Mit einem Benutzerrecht kann gesteuert werden, welche Benutzerhomepages
 aktiviert sind. Gleiches ist über ein Gruppenmerkmal für die Gruppenhomepages
 möglich. Außerdem ist festlegbar, welche Homepages auch aus dem Internet
 erreichbar sind, wenn Gruppen- und Benutzerhomepages über die
 IServ-Konfiguration generell auf das LAN beschränkt sind.
 .
 Dieses Paket ersetzt das alte Modul IServ Homepages (erweitert) (iserv-hpa).
 Die Funktion für die Nutzung von PHP auf Benutzer- und Gruppenhomepages
 wurde in ein separates Modul ausgelagert.
 .
 Hinweis: Das Modul hat seit der Abschaltung der
 Benutzer-Homepage-Funktionalität von IServ keine Funktionalität mehr.
Tag: suite::iserv:portal, role::plugin, implemented-in::perl, status::deprecated
